'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'amWiki',
			'submenu': [{
		        'label': 'Update navigation',
		        'command': 'amWiki:makeNav'
		    }, {
		        'label': 'Insert TOC',
		        'command': 'amWiki:catalogue'
		    }]
	}
]
