# Default Keymaps for amWiki
#
#  "f12": "amWiki:browser"

"atom-workspace atom-text-editor:not([mini])":
  "shift-ctrl-v": "amWiki:paste"
  "ctrl-d": "amWiki:catalogue"
  "ctrl-h": "amWiki:history"
  "alt-b": "amWiki:linebold"
  "alt-`": "amWiki:indent"
  "alt-1": "amWiki:H1"
  "alt-2": "amWiki:H2"
  "alt-3": "amWiki:H3"
